
body{

	background-color: #3CB371;
	 margin: 0px;
}
h1 {
	font-family: 'Monoton', cursive;
	font-size: 5em;
	color: blue;
	margin-right: 250px;
	margin-left: 250px;
	margin-top: 20px;

}

h2 {
	font-family:'Indie Flower', sans-serif;
	font-size: 150%;
	color: #0000CD;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom: 80px;
}
.mail {
  font-family:'Indie Flower', sans-serif;
  font-size: 1.2em;
  border-color:        white;
  border-width:        1px;
  border-style:        line;
  border-color: #87CEEB;
  background-color:    #ADD8E6;
  border-width: 1.5px;
  color: #0000CD;
  padding: 10px 20px 10px 320px;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 60px;
}
#footer {
  font-size: 100%;
  
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding-left: 60px;
  padding-right: 60px; /* Поля вокруг текста */
  margin-left: 250px;
  margin-right: 250px;
  color:  #0000CD; /* Цвет текста */
  width: 100%; /* Ширина слоя */
}
#mail {
padding-left: -120px;
}
.button{
 text-decoration:none; 
 text-align:center; 
 padding:0px 164px 0px 164px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:23px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 text-shadow: 0px 0px 10px #bababa; 
 filter: dropshadow(color=#bababa, offx=0, offy=0); }
#click {
	padding-left: 120px;
	padding-bottom: 20px;
}