body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	background: url(img/Background.png);
}
.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}