.menu-item {
	border: 2px solid #66CDAA;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.menu-item .submenu{
	height: 49px;
	width: 120px;
	background: green;
	position: absolute;
	cursor: pointer;
}